[defaults]
inventory = inventory/hosts.ini
remote_user = jmutai
host_key_checking = False
deprecation_warnings = False
stdout_callback = default
result_format = yaml
callbacks_enabled = ansible.posix.profile_tasks

[privilege_escalation]
become = True
become_method = sudo
become_user = root
